<section class="jb-section jb-page">
  <div class="jb-container jb-container--narrow">
    <h1 class="jb-section__title">{{ page.title }}</h1>
    <div class="jb-page__content rte">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Página principal",
  "settings": []
}
{% endschema %}
